.tableStyle {
  text-align: start;
  padding: 0%;
  margin: 0%;
}
.bar{
  display: flex;
  justify-content: space-between;
}

.btn{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.table1 .ant-table-thead > tr > th {
  background-color: #D9D9D9;
}
.table2 .ant-table-thead > tr > th {
  background-color: #D9D9D9; 
}
.table2 {
  display: none;
}
@media screen and (max-width: 550px) {
  .table1{
    display: none;
  }
  .table2 {
    display: block;
    width: 350px;
  }
}